body {
  margin: 0;
  font-family:'Times New Roman', Times, serif;
  background-color: #c54b4b;
}

.navbar {
  background-color: #4e0303;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.navbar button {
  background: none;
  border: 25px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin-left: 20px;
  cursor: pointer;
}

.navbar button:hover {
  text-decoration: underline;
}

.page {
  width: 60%;
  margin: 80px auto;
  background: rgb(227, 180, 180);
  padding: 40px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 10px gray;
}

.page h1 {
  color: #05022d;
}
