body {
  margin: 0;
  font-family:'Times New Roman', Times, serif;
  background: linear-gradient(to right, #630d14);
}

/* App Container */
.app-container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
  color: rgb(31, 1, 9);
  text-align: center;
}

/* Header */
.header {
  background: rgba(255,255,255,0.2);
  padding: 12px;
  border-radius: 12px;
  margin-bottom: 15px;
  display: flex;
}

.header-link {
  display: flex;
  align-items: center;
  gap: 10px;
  color: rgb(246, 214, 214);
  text-decoration: none;
  font-weight: bold;
}

.header-icon {
  width: 35px;
  height: 35px;
  border-radius: 8px;
}

/* Navbar */
nav {
  background: rgba(255,255,255,0.15);
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 25px;
}

nav a {
  color: rgb(248, 205, 205);
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

/* Card */
.card {
  background: rgb(241, 210, 163);
  color: black;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0px 8px 20px rgba(0,0,0,0.2);
}

/* Profile Image */
.profile-img {
  width: 140px;
  border-radius: 50%;
  display: block;
  margin: auto;
}

/* Lists */
ul {
  list-style: none;
  padding: 0;
}

li {
  background: #fee8b1;
  margin: 6px 0;
  padding: 8px;
  border-radius: 6px;
}

/* Button */
.btn-link {
  display: inline-block;
  background: #020c37;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
}

.btn-link:hover {
  background: #020c3d;
}
